@model Vezeeta.Models.Patients.GetAllPatients

@{
    ViewBag.Title = "Delete Patient";
}

<div class="d">

    <form asp-controller="Patient" asp-action="Delete" class="form-group">
        <div>
            <h1>هل أنت متأكد أنك تريد حذف هذا المريض؟</h1>
            <div class="patient-details">
                <h4>تفاصيل المريض</h4>
                <dl class="row">
                    <dt class="col-sm-2">الاسم</dt>
                    <dd class="col-sm-8">@Model.Name</dd>
                    <dt class="col-sm-2">رقم الموبايل</dt>
                    <dd class="col-sm-8">@Model.phone</dd>
                    <dt class="col-sm-2">الايميل</dt>
                    <dd class="col-sm-8">@Model.Email</dd>
                    <dt class="col-sm-2">النوع</dt>
                    <dd class="col-sm-8">@Model.Gender</dd>
                    <dt class="col-sm-2">التاريخ</dt>
                    <dd class="col-sm-8">@Model.Date.ToShortDateString()</dd>
                    <dt class="col-sm-2">المركز</dt>
                    <dd class="col-sm-8">@Model.Area</dd>
                </dl>
            </div>

            <center>
                <input type="submit" value="حذف" class="btn btn-danger" />
                <a asp-controller="Patient" asp-action="Index" class="btn btn-info">الغاء</a>
            </center>
        </div>
    </form>
</div>

